﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="encadrementGroupe.aspx.cs" Inherits="ESPOnline.testCode.encadrementGroupe" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../Contents/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style1
        {
            margin-left: 1120px;
        }
        .style2
        {
            margin-left: 120px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div class="style1">
    
        <asp:Button ID="Button8" runat="server" onclick="Button8_Click" Text="F5" />
    
    </div>
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="ajouter encadrement" />
    <h1>-------------------------------
        -----------------------------------------------------------------------------</h1>

        Liste des Groupe de projets : 
    <asp:DropDownList ID="DropDownList2" runat="server">
    </asp:DropDownList>
    <br />
    liste de etudiants :

        <asp:DropDownList ID="DropDownList1" 
            runat="server" AutoPostBack="True" 
        onselectedindexchanged="DropDownList1_SelectedIndexChanged">
            
        </asp:DropDownList>
    <br />
    <br />
        <asp:Button ID="Button2" runat="server" 
        Text="recuperer liste des encadrement par groupe par id_groupe_projet" 
        onclick="Button2_Click" /><br />
        <asp:Button ID="Button3" runat="server" 
        Text="liste des encadrement par groupe par id_groupe_projet et id projet" 
        onclick="Button3_Click" /><br />
        <asp:Button ID="Button4" runat="server" 
        Text="liste des encadrement par groupe par classe et id projet" 
        onclick="Button4_Click" /><br />
        <asp:Button ID="Button5" runat="server" 
        Text="liste des encadrement par groupe par type et id groupe projet" 
        onclick="Button5_Click" />


        <h1>-------------------------------
        -----------------------------------------------------------------------------</h1>

        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        <br /><br />
        <asp:Button 
                ID="Button6" runat="server" Text="ajouter un groupe" 
        onclick="Button6_Click" />
    

       <h1>-------------------------------
        -----------------------------------------------------------------------------</h1>
        <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
        <br /><br />

        <asp:Button 
                ID="Button7" runat="server" Text="affecter" 
        onclick="Button7_Click"/>

        <h1>-------------------------------
        -----------------------------------------------------------------------------</h1>

  
            note de  <asp:Label ID="etudiant" runat="server" Text=""></asp:Label> : <asp:textbox ID="textBox1" runat="server" Visible="false" />

             <br /> <br />
             <div class="style2">
    
                 <asp:Button ID="Button9" runat="server" Text="Noter" Visible="false" 
                     onclick="Button9_Click" />
    
    </div>




    <h1>-------------------------------
        -----------------------------------------------------------------------------</h1>


        <asp:DropDownList ID="DropDownListGroupe" CssClass="form-control" runat="server"  
                                            AutoPostBack="True" 
        DataSourceID="SqlDataSource1" DataTextField="NOM_PROJET" 
        DataValueField="ID_GROUPE_PROJET">
                                            </asp:DropDownList>

                                
                                        



   
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:DefaultConnectionString %>" 
        ProviderName="<%$ ConnectionStrings:DefaultConnectionString.ProviderName %>" 
        SelectCommand="SELECT &quot;NOM_PROJET&quot;, &quot;ID_GROUPE_PROJET&quot; FROM &quot;ESP_PROJET_NEW&quot; WHERE (&quot;ID_GROUPE_PROJET&quot; IS NOT NULL)">
    </asp:SqlDataSource>

                                
                                        



   
  </form>
</body>
</html>
