﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Inscrit_lgue_etformation_2015.aspx.cs" 

MasterPageFile="~/Etudiants/Eol.Master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
      <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>


      
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server" >



<table><tr><td align="center"><h3>

   INSCRIPTION AU TEST ET FORMATION LANGUES POUR L'ANNEE UNIVERSITAIRE 2014/2015
   </h3></td></tr>
   <tr>
   
   <td align="center">
    <h4 class="style1">Veuillez choisir la formation que vous voulez passer</h4>
     
  <asp:DropDownList ID="ddlchoix" runat="server" AutoPostBack="true" AppendDataBoundItems="true">
  <asp:ListItem Value="" >choisissez </asp:ListItem>
  <asp:ListItem Value="1">Formation Français+test</asp:ListItem>
   <asp:ListItem Value="2" >Formation Anglais+test</asp:ListItem>
  <asp:ListItem Value="3" >Test Français</asp:ListItem>
   <asp:ListItem Value="4" >Test Anglais</asp:ListItem>
  </asp:DropDownList>
   
   </td>
   </tr>
   </table>
   <br />
   <center>
   <table>
   <tr><td>
   
    
     <asp:ImageButton runat="server" ID="Imgvalid" Width="100px" 
    ImageUrl="~/images/button_valider.gif"/>

   </td></tr>
       </table>
        </center>
       <br />

</asp:Content>