﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AA_TestProcedure.aspx.cs"
 Inherits="ESPOnline.Direction.AA_TestProcedure" MasterPageFile="~/Direction/Site2.Master" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    

        
  <script type="text/javascript">


      function calendarShown(sender, args) {
          sender._popupBehavior._element.style.zIndex = 1000;
      }
  </script>


   <script src="styles/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="styles/Scripts/jquery.dynDateTime.min.js" type="text/javascript"></script>
<script src="styles/Scripts/JScript1.js" type="text/javascript"></script>
<link href="styles/Styles/calendar-blue.css" rel="stylesheet" type="text/css" />
<link href="styles/Styles/calendar-blue.css" rel="stylesheet" type="text/css" />
<script type = "text/javascript">
    $(document).ready(function () {
        $(".Calender").dynDateTime({
            showsTime: true,
            ifFormat: "%d/%m/%Y",

            align: "BR",
            electric: false,
            singleClick: false,
            displayArea: ".siblings('.dtcDisplayArea')",
            button: ".next()"
        });
    });
</script> 


</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<asp:TextBox ID="txt1" runat="server"></asp:TextBox>
<asp:TextBox ID="txt2" runat="server"></asp:TextBox>
<br />
<br />
<asp:Button id="btnadd" runat="server" Text="Calculer" OnClick="valider"/>
<br />
<h2>Calcul perimetre et surface</h2>
perimetre:<asp:Label ID="lbl1" runat="server"></asp:Label>
<br />
Surface:<asp:Label ID="lbl2" runat="server"></asp:Label>
<br />
</asp:Content>