﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="program_module.aspx.cs" 
Inherits="ESPOnline.Direction.program_module" 
MasterPageFile="~/Direction/Site2.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          .style3
        {
            color: #000000;
        }
        .style4
        {
            color: #CC0000;
        }
        .style5
        {
            color: #0066FF;
        }
        .style6
        {
            color: #0000FF;
        }

      
          .style7
        {
            color: #FF0000;
        }

      
          .style8
        {
            color: #003300;
        }

      .grid td, .grid th{
  text-align:center;
          </style>

           <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
    <%-- <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=Gridtoiec.ClientID %>').Scrollable({
            ScrollHeight: 300,
         
        });
    });
    </script>--%>


    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#<%=Gridexam.ClientID %> input:checkbox").each(
        function () {

            this.onclick = function () {
                if (this.checked)
                    this.parentNode.parentNode.style.backgroundColor = '#00BFFF';
                else
                    this.parentNode.parentNode.style.backgroundColor = 'transparent';

            }

        })
        });
    </script>

    <style type="text/css">
     lblanneedeb.Size = new Size(24, 72);
                lblanneedeb.Font = new Font("Verdana", 12);
    </style>


    <style type="text/css"> 
.styled-button-10 {
	background:#ff0000;
	background:-moz-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-weNeue',sans-serif;
	font-size:16px;bkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0000),color-stop(100%,#ff0000)): "Helvetica 
	border-radius:5px";
	background:-webkit-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-o-linear-gradient(top,#f65c6c 0%,#ff0000 100%);
	background:-ms-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:#ff0000;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica 
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #a70f1f
}
</style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  
<asp:Panel runat="server" ID="pll" BackColor="#E0E0E0">
    <span class="style3">
    

    </span>
   
<center>

<h2 class="style8">ANNEE UNIVERSITAIRE: &nbsp;&nbsp;
<asp:Label runat="server" ID="lblanneedeb" Font-Size="Large"></asp:Label></h2>
<%--<asp:Label runat="server" ID="lblanneefin"></asp:Label>--%>

<br />

<h2 class="style4">Programmation des modules par pôle:TIC/GCEM</h2>

<br class="style3" />


<asp:Panel ID="plvalider" runat="server">
<table>
<tr>
<td>
<asp:Label ID="Label11" runat="server" Text="Semestre: "
                            ></asp:Label></td>

                                                     
   <td>          <asp:RadioButtonList ID="Rdsemestre" runat="server"   
            RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">S1</asp:ListItem>
                 <asp:ListItem Value="2">S2</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

 





<td>
<asp:Label ID="Label6" runat="server" Text="Periode: "
       ></asp:Label></td>

<td><asp:RadioButtonList ID="rdperiode" runat="server"   
             RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">P1</asp:ListItem>
                 <asp:ListItem Value="2">P2</asp:ListItem>               
            </asp:RadioButtonList></td>
            <td><asp:Button  ID="btnvalid" runat="server" Text="Valider" Height="35px" 
                    Width="120px" onclick="btnvalid_Click"/></td>
</tr>
</table>
</asp:Panel>

<asp:Panel ID="Plchoixannee" runat="server" Visible="false">
<table><tr><td><asp:Label ID="Label7" runat="server" Text="Veuillez choisir l'année auquel vous avez faire l'affectation: "
                            ></asp:Label>
</td>
<td> <asp:RadioButtonList ID="Rdcours" runat="server"   
            RepeatDirection="Horizontal" width="180px" >
            <asp:ListItem value="C">Année en cours</asp:ListItem>
                 <asp:ListItem value="A">Autre</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

              <td><asp:Button  ID="Btnsuivant" runat="server" Text="Suivant" Height="35px" 
                    Width="120px" onclick="Btnsuivant_Click" /></td>
</tr></table>

                                                     
           

</asp:Panel>


<asp:Panel ID="plannee" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="lbls" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="lblp" runat="server"/></td></tr>
<tr><td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="ddlan_univer" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">

</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="ddlsite" runat="server" 
        onselectedindexchanged="ddlsite_SelectedIndexChanged"  Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3"    >

</asp:DropDownList>

</td>

<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </span><span class="style6">
<td>
    <span class="style5">Niveau:</span>
<asp:DropDownList ID="ddlniv" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddlniv_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>
<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>


<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
    <span class="style5">Niveau d'étude:</span>
</span>
<asp:DropDownList ID="ddclasse" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddclasse_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>

</tr>



</table>

    </span>

</asp:Panel>

<asp:Panel ID="Plannee2" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="Label8" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="Label9" runat="server"/></td></tr>


<tr>

<%--<td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="DropDownList1" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">
<asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>--%>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="DropDownList2" runat="server"  AppendDataBoundItems="true" 
          Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3" 
        onselectedindexchanged="DropDownList2_SelectedIndexChanged"    >
    <asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>

</td>

<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </span><span class="style6">
<td>
    <span class="style5">Niveau:</span>
<asp:DropDownList ID="DropDownList3" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" 
        CssClass="style3" 
        onselectedindexchanged="DropDownList3_SelectedIndexChanged">

</asp:DropDownList>
</td>
<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>


<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
    <span class="style5">Niveau d'étude:</span>
</span>
<asp:DropDownList ID="DropDownList4" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" 
        CssClass="style3" 
        onselectedindexchanged="DropDownList4_SelectedIndexChanged">

</asp:DropDownList>
</td>

</tr>



</table>

    </span>

</asp:Panel>


<center>
<table>
<tr>
<td>
<asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
  
<asp:GridView runat="server" ID="Gridexam" AutoGenerateColumns="False" 
                                                          
                                                         Style="border-bottom: black 2px ridge; border-left: black 2px ridge;
                                                        background-color: white; border-top: black 2px ridge; border-right: black 2px ridge;"
                                                        BorderWidth="0px" 
        BorderColor="Red"  CssClass="grid"
                                                        
        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" 
                                                        GridLines="Both" 
        EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
  OnRowDataBound = "OnRowDataBoundS" 
          onselectedindexchanged="Gridexam_SelectedIndexChanged"
                                                   
                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
<asp:TemplateField ItemStyle-Width="20px" ItemStyle-HorizontalAlign="Center" HeaderText="Nº">
  <ItemTemplate>
    <%# Container.DataItemIndex + 1 %>
  </ItemTemplate>
</asp:TemplateField>

      <asp:TemplateField ItemStyle-Width="20px" ItemStyle-HorizontalAlign="Center" >
      
     <HeaderTemplate>
                <asp:CheckBox ID = "chkAll" runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChangedDDD" Visible="false"/>
            </HeaderTemplate>
           <ItemTemplate> 
              <asp:CheckBox ID="CheckBox1"  runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChanged" />
           </ItemTemplate>
        </asp:TemplateField>

      
       <asp:TemplateField HeaderText="N séance">
              
                <ItemTemplate>
               
               <asp:DropDownList ID="ddlCountriesS" runat="server"  
               OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" 
               AutoPostBack="true" AppendDataBoundItems="true" >
               </asp:DropDownList>
            </ItemTemplate>
            </asp:TemplateField>
      
      
      
      <asp:TemplateField HeaderText="code Module" ItemStyle-HorizontalAlign="Center"  HeaderStyle-Width="150px">
        <ItemTemplate>
            <asp:Label ID="lblPrice11" runat="server" Text='<%# Eval("code_module")%>' />
         </ItemTemplate>
         <FooterTemplate>
            <asp:Label ID="lblTotalPrice1" runat="server" />
         </FooterTemplate>                   
      </asp:TemplateField>

      <asp:TemplateField HeaderText="Module" ItemStyle-HorizontalAlign="Center"  HeaderStyle-Width="150px">
        <ItemTemplate>
            <asp:Label ID="lblPrice13" runat="server" Text='<%# Eval("Designation")%>' />
         </ItemTemplate>
         <FooterTemplate>
            <asp:Label ID="lblTotalPrice11" runat="server" />
         </FooterTemplate>                   

      </asp:TemplateField>


      <asp:TemplateField HeaderText="Charge P1" ItemStyle-HorizontalAlign="Center"  HeaderStyle-Width="100px">
        <ItemTemplate>
            <asp:Label ID="lblPrice12" runat="server" Text='<%# Eval("charge_p1")%>' />
         </ItemTemplate>
         <FooterTemplate>
            <asp:Label ID="lblTotalPrice111" runat="server" />
         </FooterTemplate>                   
      </asp:TemplateField>

      


<asp:TemplateField HeaderText="Charge P2" ItemStyle-HorizontalAlign="Center"  HeaderStyle-Width="100px">
        <ItemTemplate>
            <asp:Label ID="lblPrice1" runat="server" Text='<%# Eval("charge_p2")%>' />
         </ItemTemplate>
         <FooterTemplate>
            <asp:Label ID="lblTotalPrice1111" runat="server" />
         </FooterTemplate>                   
      </asp:TemplateField>


     <%-- <asp:TemplateField HeaderText="DS/EX" 
      ItemStyle-HorizontalAlign="Center"  HeaderStyle-Width="150px">
        <ItemTemplate>
            <asp:Label ID="lbdsex" runat="server"  />
         </ItemTemplate>
         <FooterTemplate>
            <asp:Label ID="lbsdexam" runat="server" />
         </FooterTemplate>                   
      </asp:TemplateField>--%>

      <asp:TemplateField HeaderText="DS/EX">
                                <ItemTemplate>
                                    <asp:RadioButtonList ID="RadioButtonds" runat="server"  RepeatDirection="Horizontal">
                                     <asp:ListItem Value="DS">DS</asp:ListItem> 
                                   
                                     
                                    <asp:ListItem Value="EX">EX</asp:ListItem>

                                      <asp:ListItem Value="RP">RP</asp:ListItem>
                                                 
                                    </asp:RadioButtonList>
                                       </ItemTemplate>
                            </asp:TemplateField>

<asp:TemplateField HeaderText="Classes">
              
                <ItemTemplate>
               
               <asp:DropDownList ID="ddlCountries" runat="server"  
               OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" 
               AutoPostBack="true" AppendDataBoundItems="true" >
               </asp:DropDownList>
            </ItemTemplate>
            </asp:TemplateField>
        
     <asp:TemplateField HeaderText="A programmer">
                                <ItemTemplate>
                                    <asp:RadioButtonList ID="RadioButton11" runat="server"  RepeatDirection="Horizontal">
                                   
                                    <asp:ListItem Value="1" Selected="True">OUI</asp:ListItem>
                                    <asp:ListItem Value="0">NON</asp:ListItem>               
                                    </asp:RadioButtonList>
                                       </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Type d'épreuve">
                                <ItemTemplate>
                                    <asp:RadioButtonList ID="RadioButton1" runat="server"  RepeatDirection="Horizontal">
                                     <asp:ListItem Value="E" Selected="True">Ecrit</asp:ListItem> 
                                     <asp:ListItem Value="P">Pratique</asp:ListItem>
                                     
                                    <asp:ListItem Value="S">Soutenance</asp:ListItem>                
                                    </asp:RadioButtonList>
                                       </ItemTemplate>
                            </asp:TemplateField>
         </Columns>
                      
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <AlternatingRowStyle BackColor="#d2c1bf"  />

                                                    </asp:GridView>

</ContentTemplate>
<Triggers>
        <asp:AsyncPostBackTrigger ControlID = "Gridexam" /> 
    </Triggers> 

    </asp:UpdatePanel>
    
</td>
</tr>
<tr><td><br /></td></tr>


<%--<tr><td><td align="center"><asp:Button ID="btnUpdate" runat="server" 
Text="Modifier" OnClick = "Update" Visible="false" height="44px"/></td>
--%>


</table>

</center>

<table>

<tr>
<td align="right">

<asp:Button ID="btnUpdate" runat="server" Text="Enregistrer" OnClick = "Enregistrer" 
class="styled-button-10"
Visible="false" height="44px"/>
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<%--<asp:Button ID="Button1" runat="server" Text="Modifier" OnClick = "Update" Visible="false" height="44px"/>--%>
</td>
</tr>
</table>


<asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label2" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label3" runat="server" Text="Label" Visible="false"></asp:Label>
 <asp:Label ID="Label4" runat="server" Text="Label" Visible="false"></asp:Label>

<asp:Label ID="Label5" runat="server" Text="Label" Visible="false"></asp:Label>

    </asp:Panel>
</asp:Content>
