﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="program_module_MAJ.aspx.cs"
 Inherits="ESPOnline.Direction.program_module_MAJ"
 MasterPageFile="~/Direction/Site2.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          .style3
        {
            color: #000000;
        }
        .style5
        {
            color: #0066FF;
        }
        .style6
        {
            color: #0000FF;
        }

      
          .style7
        {
            color: #660066;
        }

      
          </style>

           <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
    <%-- <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=Gridtoiec.ClientID %>').Scrollable({
            ScrollHeight: 300,
         
        });
    });
    </script>--%>



   <%-- <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#<%=Gridexam.ClientID %> input:checkbox").each(
        function () {

            this.onclick = function () {
                if (this.checked)
                    this.parentNode.parentNode.style.backgroundColor = '#00BFFF';
                else
                    this.parentNode.parentNode.style.backgroundColor = 'transparent';

            }

        })
        });
    </script>--%>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
<asp:Panel runat="server" ID="pll" BackColor="#E0E0E0">
    <span class="style3">
    <br />

<asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label2" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label3" runat="server" Text="Label" Visible="false"></asp:Label>
 <asp:Label ID="Label4" runat="server" Text="Label" Visible="false"></asp:Label>

<asp:Label ID="Label5" runat="server" Text="Label" Visible="false"></asp:Label>
    </span>
    <br />
<center>

<h2 class="style7">Modification des modules par pôle:TIC/GCEM</h2>

<br class="style3" />
<table>
<tr>
<td>
<asp:Label ID="Label11" runat="server" Text="Semestre: "
                            ></asp:Label></td>

                                                          <td> 
              <asp:RadioButtonList ID="Rdsemestre" runat="server"   
            RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">S1</asp:ListItem>
                 <asp:ListItem Value="2">S2</asp:ListItem>
              
                
            </asp:RadioButtonList></td>
</tr>
 


<tr><td><br /></td></tr>

<tr>
<td>
<asp:Label ID="Label6" runat="server" Text="Periode: "
       ></asp:Label>
</td>
<td><asp:RadioButtonList ID="rdperiode" runat="server"   
             RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">P1</asp:ListItem>
                 <asp:ListItem Value="2">P2</asp:ListItem>               
            </asp:RadioButtonList></td>
</tr>
<tr><td><br /></td></tr>
<tr><td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="ddlan_univer" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">
<asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="ddlsite" runat="server" 
        onselectedindexchanged="ddlsite_SelectedIndexChanged"  Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3"    >

</asp:DropDownList>

</td>

<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </span><span class="style6">
<td>
    <span class="style5">Niveau:</span>
<asp:DropDownList ID="ddlniv" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddlniv_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>
<td><span class="style3">&nbsp;&nbsp;&nbsp;</td>


<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
    <span class="style5">Classes:</span>
</span>
<asp:DropDownList ID="ddclasse" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddclasse_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>

</tr>



</table>
<br />


<center>
<table>
<tr>
<td>
<asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
  
<asp:GridView runat="server" ID="Gridexam" AutoGenerateColumns="False" 
                                                          
                                                         Style="border-bottom: black 2px ridge; border-left: black 2px ridge;
                                                        background-color: white; border-top: black 2px ridge; border-right: black 2px ridge;"
                                                        BorderWidth="0px" 
        BorderColor="Red"  CssClass="grid"
                                                        
        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" 
                                                        GridLines="Both" 
        EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
 OnRowEditing="EditCustomer" OnRowDataBound = "OnRowDataBoundS" 
         onselectedindexchanged="Gridexam_SelectedIndexChanged"
                                                   
                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>

     
    

      <asp:TemplateField ItemStyle-Width="20px">
    

     <HeaderTemplate>
                <asp:CheckBox ID = "chkAll" runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChangedDDD" Visible="false"/>
            </HeaderTemplate>
           <ItemTemplate> 
              <asp:CheckBox ID="CheckBox1"  runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChanged" />
           </ItemTemplate>
        </asp:TemplateField>

       

 <asp:TemplateField HeaderText="Classes" ItemStyle-HorizontalAlign  ="Left"  ItemStyle-Width ="10%">
                        <ItemTemplate>
                            <asp:Label ID="lblcodecl" runat="server" Text='<% # Eval("code_cl") %>'></asp:Label>
                        </ItemTemplate>
                     </asp:TemplateField> 



                     <asp:TemplateField HeaderText="Num semestre" ItemStyle-HorizontalAlign  ="Left"  ItemStyle-Width ="25%">
                        <ItemTemplate>
                            <asp:Label ID="lblNUMSEMSTRE" runat="server" Text='<% # Eval("Num_semestre") %>'></asp:Label>
                        </ItemTemplate>
                     </asp:TemplateField> 

                          <asp:TemplateField HeaderText="Periode " ItemStyle-HorizontalAlign  ="Left"  ItemStyle-Width ="25%">
                        <ItemTemplate>
                            <asp:Label ID="lblPERIODE" runat="server" Text='<% # Eval("Num_periode") %>'></asp:Label>
                        </ItemTemplate>
                     </asp:TemplateField>

                    

<asp:TemplateField HeaderText="code_module">

             <ItemTemplate>
                <asp:Label ID = "lblCountry221" runat="server" Text='<%# Eval("code_module") %>'></asp:Label>
                <asp:DropDownList ID="ddlCountries221" runat="server" Visible = "false" OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" 
                AutoPostBack="true" AppendDataBoundItems="true">
                </asp:DropDownList>
            </ItemTemplate>
               
            </asp:TemplateField>



    
     <asp:TemplateField HeaderText="Module" ItemStyle-HorizontalAlign  ="Left"  ItemStyle-Width ="25%">
                        <ItemTemplate>
                            <asp:Label ID="lblNUMSEmod" runat="server" Text='<% # Eval("designation") %>'></asp:Label>
                        </ItemTemplate>
                     </asp:TemplateField> 


                      <asp:TemplateField HeaderText="A_PROGRAMMER">

             <ItemTemplate>
                <asp:Label ID = "lblCountry2" runat="server" Text='<%# Eval("A_PROGRAMMER") %>'></asp:Label>
                <asp:DropDownList ID="ddlaprogrammer" runat="server" Visible = "false" OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" 
                AutoPostBack="true" AppendDataBoundItems="true">
                </asp:DropDownList>
            </ItemTemplate>
               
            </asp:TemplateField>

            <asp:TemplateField HeaderText="TYPE_EXAM">

             <ItemTemplate>
                <asp:Label ID = "lblCountry21" runat="server" Text='<%# Eval("TYPE_EXAM") %>'></asp:Label>
                <asp:DropDownList ID="ddltypeexam" runat="server" Visible = "false"
                 OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" 
                AutoPostBack="true" AppendDataBoundItems="true">
                </asp:DropDownList>
            </ItemTemplate>
               
            </asp:TemplateField>

      
      


              
     

        
  

               </Columns>
                      <%--<FooterStyle BackColor="Red" Font-Bold="True" ForeColor="White" HorizontalAlign="Center" />
   <HeaderStyle BackColor="Red" Font-Bold="True" ForeColor="White" HorizontalAlign="Left" />--%>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <AlternatingRowStyle BackColor="#f3ddcf"  />

                                                    </asp:GridView>

</ContentTemplate>
<Triggers>
        <asp:AsyncPostBackTrigger ControlID = "Gridexam" /> 
    </Triggers> 

    </asp:UpdatePanel>
    
</td>
</tr>
<tr><td><br /></td></tr>


<%--<tr><td><td align="center"><asp:Button ID="btnUpdate" runat="server" 
Text="Modifier" OnClick = "Update" Visible="false" height="44px"/></td>
--%>


</table>

</center>

<table>

<tr>
<td align="right">

<asp:Button ID="btnUpdate" runat="server" Text="Modifier" OnClick = "Update"  height="44px" Visible="false"/>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<%--<asp:Button ID="Button1" runat="server" Text="Modifier" OnClick = "Update" Visible="false" height="44px"/>--%>
</td>
</tr>
</table>
<br />
<br />
<br>
    </asp:Panel>
</asp:Content>
