﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Rep_classe_niv_pole.aspx.cs" Inherits="ESPOnline.Direction.Rep_classe_niv_pole"
MasterPageFile="~/Direction/Site2.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          </style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
<br />
<center>

<table>
<tr>

<td>

<h4>Répartition des étudiants par Niveau et Pôle </h4>
<asp:GridView runat="server" ID="GridView3" AutoGenerateColumns="False" 
                                                          AllowPaging="True"  PageSize="5"
                                                         Style="border-bottom: white 2px ridge; border-left: white 2px ridge;
                                                        background-color: white; width: 100%; border-top: white 2px ridge; border-right: white 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red" CellSpacing="1" CellPadding="3" CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" Width="100%"
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
                                                     OnPageIndexChanging="gridViewtoiec_PageIndexChanging"

                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
          <asp:BoundField DataField="Site" HeaderText="Site" ReadOnly="True" 
                SortExpression="Site" /> 

                  <asp:BoundField DataField="Niveau" HeaderText="Niveau" ReadOnly="True" 
                SortExpression="Niveau" /> 

                  <asp:BoundField DataField="NB_Classes" HeaderText="NB_Classes" ReadOnly="True" 
                SortExpression="NB_Classes" /> 

                  <asp:BoundField DataField="Nouveaux_Inscrits" HeaderText="Nouveaux_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Inscrits" /> 

                  <asp:BoundField DataField="Redoublants_Inscrits" HeaderText="Redoublants_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Inscrits" /> 

                 <asp:BoundField DataField="Nouveaux_Pre_Inscrits" HeaderText="Nouveaux_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Redoublants_Pre_Inscrits" HeaderText="Redoublants_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Pré_Inscrits" HeaderText="Pré_Inscrits" ReadOnly="True" 
                SortExpression="Pré_Inscrits" /> 

                <asp:BoundField DataField="total" HeaderText="total" ReadOnly="True" 
                SortExpression="total" /> 
                

                     </Columns>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>
<asp:GridView runat="server" ID="Gridtoiec" AutoGenerateColumns="False" 
                                                          AllowPaging="True"  PageSize="5"
                                                         Style="border-bottom: white 2px ridge; border-left: white 2px ridge;
                                                        background-color: white; width: 100%; border-top: white 2px ridge; border-right: white 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red" CellSpacing="1" CellPadding="3" CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" Width="100%"
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
                                                     OnPageIndexChanging="gridViewtoiec_PageIndexChanging"

                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
          <asp:BoundField DataField="Site" HeaderText="Site" ReadOnly="True" 
                SortExpression="Site" /> 

                  <asp:BoundField DataField="Niveau" HeaderText="Niveau" ReadOnly="True" 
                SortExpression="Niveau" /> 

                  <asp:BoundField DataField="NB_Classes" HeaderText="NB_Classes" ReadOnly="True" 
                SortExpression="NB_Classes" /> 

                  <asp:BoundField DataField="Nouveaux_Inscrits" HeaderText="Nouveaux_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Inscrits" /> 

                  <asp:BoundField DataField="Redoublants_Inscrits" HeaderText="Redoublants_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Inscrits" /> 

                 <asp:BoundField DataField="Nouveaux_Pre_Inscrits" HeaderText="Nouveaux_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Redoublants_Pre_Inscrits" HeaderText="Redoublants_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Pré_Inscrits" HeaderText="Pré_Inscrits" ReadOnly="True" 
                SortExpression="Pré_Inscrits" /> 

                <asp:BoundField DataField="total" HeaderText="total" ReadOnly="True" 
                SortExpression="total" /> 
                

                     </Columns>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>

</td>
<td>&nbsp;&nbsp;&nbsp;</td>

<td>
<h4>Répartition des Classes par Niveau etPôle </h4>
<asp:GridView runat="server" ID="GridView2" AutoGenerateColumns="False" 
                                                          AllowPaging="True"  PageSize="5"
                                                         Style="border-bottom: white 2px ridge; border-left: white 2px ridge;
                                                        background-color: white; width: 100%; border-top: white 2px ridge; border-right: white 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red" CellSpacing="1" CellPadding="3" CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" Width="100%"
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
                                                     OnPageIndexChanging="gridViewtoiec_PageIndexChanging"

                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
          <asp:BoundField DataField="Site" HeaderText="Site" ReadOnly="True" 
                SortExpression="Site" /> 

                  <asp:BoundField DataField="Niveau" HeaderText="Niveau" ReadOnly="True" 
                SortExpression="Niveau" /> 

                  <asp:BoundField DataField="NB_Classes" HeaderText="NB_Classes" ReadOnly="True" 
                SortExpression="NB_Classes" /> 

                  <asp:BoundField DataField="Nouveaux_Inscrits" HeaderText="Nouveaux_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Inscrits" /> 

                  <asp:BoundField DataField="Redoublants_Inscrits" HeaderText="Redoublants_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Inscrits" /> 

                 <asp:BoundField DataField="Nouveaux_Pre_Inscrits" HeaderText="Nouveaux_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Redoublants_Pre_Inscrits" HeaderText="Redoublants_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Pré_Inscrits" HeaderText="Pré_Inscrits" ReadOnly="True" 
                SortExpression="Pré_Inscrits" /> 

                <asp:BoundField DataField="total" HeaderText="total" ReadOnly="True" 
                SortExpression="total" /> 
                

                     </Columns>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>
<asp:GridView runat="server" ID="GridView1" AutoGenerateColumns="False" 
                                                          AllowPaging="True"  PageSize="5"
                                                         Style="border-bottom: white 2px ridge; border-left: white 2px ridge;
                                                        background-color: white; width: 100%; border-top: white 2px ridge; border-right: white 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red" CellSpacing="1" CellPadding="3" CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" Width="100%"
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
                                                     OnPageIndexChanging="gridViewtoiec_PageIndexChanging"

                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
          <asp:BoundField DataField="Site" HeaderText="Site" ReadOnly="True" 
                SortExpression="Site" /> 

                  <asp:BoundField DataField="Niveau" HeaderText="Niveau" ReadOnly="True" 
                SortExpression="Niveau" /> 

                  <asp:BoundField DataField="NB_Classes" HeaderText="NB_Classes" ReadOnly="True" 
                SortExpression="NB_Classes" /> 

                  <asp:BoundField DataField="Nouveaux_Inscrits" HeaderText="Nouveaux_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Inscrits" /> 

                  <asp:BoundField DataField="Redoublants_Inscrits" HeaderText="Redoublants_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Inscrits" /> 

                 <asp:BoundField DataField="Nouveaux_Pre_Inscrits" HeaderText="Nouveaux_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Nouveaux_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Redoublants_Pre_Inscrits" HeaderText="Redoublants_Pre_Inscrits" ReadOnly="True" 
                SortExpression="Redoublants_Pre_Inscrits" /> 

                 <asp:BoundField DataField="Pré_Inscrits" HeaderText="Pré_Inscrits" ReadOnly="True" 
                SortExpression="Pré_Inscrits" /> 

                <asp:BoundField DataField="total" HeaderText="total" ReadOnly="True" 
                SortExpression="total" /> 
                

                     </Columns>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>

</td>


</tr>

</table>

</center>


</asp:Content>