﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Direction/Site2.Master" AutoEventWireup="true" CodeBehind="Suivi_saisir-absence.aspx.cs" Inherits="ESPOnline.Direction.Suivi_saisir_absence" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table class="style1">
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</td>
            <td>
                choisir date<asp:TextBox ID="TextBox2" runat="server" TextMode="Date" 
                    ontextchanged="TextBox2_TextChanged"></asp:TextBox>
    
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
                    Text="Suivi" />
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
    
                <asp:Label ID="Label1" runat="server" Text=" Suivi par date saisie"></asp:Label>
   <br /> 
                <asp:Label ID="Label2" runat="server" Text="Aucune saisie" 
                    Visible="False"></asp:Label>
   
               <asp:GridView ID="GridView1" runat="server" DataSourceID="SqlDataSource1" >
</asp:GridView>
            </td>
            <td>
                &nbsp;</td>
            <td >
      <br /> <asp:Label ID="Label4" runat="server" Text=" Suivi par date seance"></asp:Label>
                <asp:Label ID="Label3" runat="server" Text="Aucune saisie" 
                    Visible="False"></asp:Label>
  
<asp:GridView ID="GridView2" runat="server" DataSourceID="SqlDataSource1" >
</asp:GridView>
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
&nbsp;<asp:TextBox ID="TextBox1" runat="server" ontextchanged="TextBox1_TextChanged" 
        Visible="False"></asp:TextBox>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ConnectionString %>" 
    ProviderName="<%$ ConnectionStrings:ConnectionString.ProviderName %>" 
    
       
        SelectCommand="select  e2.nom_ens Nom,substr(e1.DATE_SAISIE,1,9) Date_saisie,substr(e1.date_seance,1,9) Date_seance,e1.code_cl Classe, e1.num_seance from esp_entete_absence e1,esp_enseignant e2 where e1.id_ens=e2.id_ens and  substr(e1.DATE_SAISIE,1,9) like :DATE_SAISIE  ">
   
    <SelectParameters>
        <asp:ControlParameter ControlID="TextBox1" Name="DATE_SAISIE" 
            PropertyName="Text" Type="String" />
    </SelectParameters>
</asp:SqlDataSource>
<asp:SqlDataSource ID="SqlDataSource2" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ConnectionString %>" 
    ProviderName="<%$ ConnectionStrings:ConnectionString.ProviderName %>" 
    
       
        
        SelectCommand="select  e2.nom_ens Nom,substr(e1.DATE_SAISIE,1,9) Date_saisie,substr(e1.date_seance,1,9) Date_seance,e1.code_cl Classe, e1.num_seance from esp_entete_absence e1,esp_enseignant e2 where e1.id_ens=e2.id_ens and  substr(e1.date_seance,1,9) like :DATE_SAISIE  ">
   
    <SelectParameters>
        <asp:ControlParameter ControlID="TextBox1" Name="DATE_SAISIE" 
            PropertyName="Text" Type="String" />
    </SelectParameters>
</asp:SqlDataSource>
    </asp:Content>
