﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestGetData.aspx.cs" 
Inherits="ESPOnline.Direction.TestGetData"MasterPageFile="~/Direction/Site2.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    

           


    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#<%=Gridtoiec.ClientID %> input:checkbox").each(
        function () {

            this.onclick = function () {
                if (this.checked)
                    this.parentNode.parentNode.style.backgroundColor = '#00BFFF';
                else
                    this.parentNode.parentNode.style.backgroundColor = 'transparent';

            }

        })
        });
    </script>

    <style type="text/css"> 
.styled-button-10 {
	background:#ff0000;
	background:-moz-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-weNeue',sans-serif;
	font-size:16px;bkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0000),color-stop(100%,#ff0000)): "Helvetica 
	border-radius:5px";
	background:-webkit-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-o-linear-gradient(top,#f65c6c 0%,#ff0000 100%);
	background:-ms-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:#ff0000;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica 
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #a70f1f
}
</style>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
     <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=geidmapx.ClientID %>').Scrollable({
            ScrollHeight: 300,
         
        });
    });
    </script>

    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    
    <asp:GridView runat="server" ID="Gridtoiec" AutoGenerateColumns="False" 
                                                          
                                                         Style="border-bottom: black 2px ridge; border-left: black 2px ridge;
                                                        background-color: white; border-top: black 2px ridge; border-right: black 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red"  CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" 
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
 
                                                   
                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                   
                      
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>

                                                    <br />
                                                    <br />
                                                    <center>
                                                   <h3>Generation automatique de Map_X</h3>
                                                    <asp:GridView ID="geidmapx"  runat="server"
                                                     HeaderStyle-BackColor="#e32218" 
                                                     AlternatingRowStyle-BackColor="#8d8e9c" 
                                                     BackColor="#dbdbdb"
                                                    
                                                    Font-Names = "Arial" ShowHeader = "true" 
                                                    Font-Size = "11pt"
                                                     ></asp:GridView> 
                                                    </center>
                                                    <br />
                                                    <br />

                                                    

    

    </asp:Content>