﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="INSCRIT_FR_ANG_2015.aspx.cs" Inherits="ESPOnline.Enseignants.INSCRIT_FR_ANG_2015aspx" 
 MasterPageFile="~/Enseignants/Ens.Master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
      <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>

      <style type="text/css">
          .style1
          {
              color: #FFFFFF;
          }
          .style4
          {
              font-size: medium;
          }
          </style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server" >

    <br />
    <br />
    <br />
    <br />
<center>
<asp:Panel ID="Panelfrang" runat="server"  BackColor="#CC0000" Height="350px" 
        Width="1150px">
       
<center>
<table><tr><td class="style13">
    <h1 style="color: #CCCCCC">
        <span class="style4">INSCRIPTION AU FORMATION FRANCAIS ET ANGLAIS POUR L&#39;ANNEE 
        UNIVERSITAIRE:</span><span class="style14">
        <asp:Label ID="lblanneedeb" runat="server" CssClass="style7" 
            style="font-size: medium"></asp:Label>
        /<asp:Label ID="lblanneefin" runat="server" CssClass="style7" 
            style="font-size: medium"></asp:Label>
        </span>
    </h1>
    </td></tr>
       </table>

 <%--<asp:Label ID="lblchoix" runat="server" Text="Certification TOEIC:Choisissez Toeic si vous voulez passer:" 
        ForeColor="White"></asp:Label>
 <br />
 <br />
 <asp:Label ID="lblprep" runat="server" Text="Prep TOEIC:Si vous voulez préparer la certification Toeic,choisissez:" 
        ForeColor="White"></asp:Label>--%>
        <asp:Panel ID="panel1" runat="server">
        <center>
<asp:HyperLink ID="HyperLink1" NavigateUrl="~/Enseignants/Accueil.aspx"  runat="server" ForeColor="White" > Retour à la page d'Accueil</asp:HyperLink>

</center>
        </asp:Panel>
      
 <asp:Panel ID="panelddr" runat="server">
 <center>
 <%--<asp:Panel ID="paneltoiec" runat="server" Width="550px" Height="20px">
 <table bgcolor="#999999" style="background-color: #CCCCCC">


 <tr>
        <td width="30px"></td>
         <td> <asp:Label ID="Label6" runat="server" Text="Nombre d'Inscription au certification TOEIC:"></asp:Label>
                                    <asp:Label ID="lblcounttoiec" runat="server" ForeColor="Red"></asp:Label><asp:Label ID="lbl" runat="server" Text=" Candidats"></asp:Label></td>
         
         </tr>
          </table></asp:Panel>--%>

 
  <%--<asp:Panel ID="panelprep" runat="server" Width="550px" Height="20px">
  
  <table bgcolor="#999999" style="background-color: #CCCCCC">

          <tr>
              <td>
                  <asp:Label ID="Label3" runat="server" Text="Nombre d'Inscription au preparation certification TOEIC:"></asp:Label>
                  <asp:Label ID="lblcountpreptoiec" runat="server" ForeColor="Red"></asp:Label>
                  <asp:Label ID="Label5" runat="server" Text=" Candidats"></asp:Label>
              </td>
          </tr>
    
 
 </table>
  
  </asp:Panel>--%>
  <center>
    
    <%-- <asp:Panel ID="plrst" runat="server" BackColor="#999999" Width="500px" Height="30px">
    <asp:Label ID="lbltpd" runat="server"></asp:Label>
    </asp:Panel>--%>
    
    </center>

     &nbsp;<span class="style1">Veuillez choisir la formation que vous voulez passer</span><p class="style1">
         &nbsp;</p>
  <asp:DropDownList ID="ddlchoix" runat="server" AutoPostBack="true" AppendDataBoundItems="true">
  <asp:ListItem Value="" >choisissez </asp:ListItem>
  <asp:ListItem Value="1">Passez formation français</asp:ListItem>
<asp:ListItem Value="2" >Passez formation Anglais</asp:ListItem>
  <asp:ListItem Value="3" >Passez formation français+prep</asp:ListItem>
  <asp:ListItem Value="4" >Passez formation Anglais+prep</asp:ListItem>
  </asp:DropDownList>

  <br />
  <br />
  <br />
 <center>
     <asp:Button ID="Button1" runat="server" 
            Height="41px"  Text="Valider votre choix" Width="235px" 
         onclick="Button1_Click" /></center>
 </center>
 <br />
 </asp:Panel>
            </center>
            </asp:Panel>

            </center>
            <br />


</asp:Content>





