﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Server_Page.aspx.cs"
 Inherits="ESPOnline.Enseignants.Server_Page"  MasterPageFile="~/Enseignants/Ens.Master" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="../Contents/Css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="../Contents/Scripts/JScript1.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="../Contents/cssencadrement/encadrement.css" type="text/javascript" />
    <style type="text/css">
        .successMerit
        {
            background-color: #1fa756;
            border: medium none;
            color: White;
        }
        .defaultColor
        {
            background-color: white;
            color: black;
        }
        .dangerFailed
        {
            background-color: #f2283a;
            color: White;
        }
    </style>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../Contents/Encadrement/css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../Contents/Encadrement/js/index.js"></script>
    <link rel="stylesheet" href="../Contents/Css/SMH.css" type="text/css" media="all" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  
    <div id="content">
        <br />
        <center>
            <asp:Image ID="Image1" ImageUrl="~/bootstrap-3.1.1-dist/css/Sans titre2.png" runat="server" />
           <br />
            <br />
            <h1>Ajout avec succée</h1>
            <asp:LinkButton runat="server" ID="likbtn1" PostBackUrl="~/Enseignants/Add_project2017.aspx" >Retour</asp:LinkButton>
            </center>


            </div>