﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test_flash.aspx.cs" Inherits="ESPOnline.Enseignants.test_flash" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h2>test</h2>
    <img src="../images/Composition-1.gif" alt="ss" />
    </div>
    </form>
</body>
</html>
