﻿<%@ Page Title="" Language="C#" MasterPageFile="~/EnseignantsCUP/Cup.Master" AutoEventWireup="true" CodeBehind="Accueil.aspx.cs" Inherits="ESPOnline.EnseignantsCUP.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
   <link href="../Contents/Css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap.js" type="text/javascript"></script>
        <script type="text/javascript" src="../Contents/Scripts/JScript1.js"></script>
<style type="text/css">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    .style1
    {
        color: #999999;
        text-align: center;
        font-size: large;
    }
    </style>
</asp:Content>

<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <br />
<div class="style1">
              <strong><span class="style1">
              <br />
              <br />
              Bienvenue</span><span  <br />
                &nbsp;
                </span></strong>
    <br />
              <br />
              <br />
    <br />
    <asp:Image ID="Image1" runat="server" src="../Contents/Img/esprit.jpg" />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />

</asp:Content>