﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Afficher_list_commune.aspx.cs" Inherits="ESPOnline.EnseignantsCUP.Afficher_list_commune"

MasterPageFile="~/EnseignantsCUP/cup.Master" EnableEventValidation = "false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          </style>

<style type="text/css">
    
    .container { 
 width:100%; }

.align-left { 
 float: left;
 width:50%; 
 height:20%;
 } 

 .align-right{
 float: right; 
 height:20%;
 width:50%
 }
    
    </style>

    <style type="text/css">
    
    .verticalLine {
    border-left: thick solid #ff0000;
}
    
        .style1
        {
            font-weight: bold;
            font-family: "Courier New", Courier, monospace;
        }
    
        .style2
        {
            font-size: medium;
        }
        .style3
        {
            font-weight: bold;
            font-family: "Courier New", Courier, monospace;
            font-size: medium;
        }
    
    </style>

    
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />

    <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>

    
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
    

    <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=Gridcommun.ClientID %>').Scrollable({
            ScrollHeight: 100,
         
        });
    });
    </script>

    <style type="text/css">
        .FixedHeader {
            position: absolute;
            font-weight: bold;
        }     
    </style>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <center>
<br />
<br />
<center><h1 class="style3">Liste des condidats qui vont passer le test TOIEC et PREPARATION TOIEC
     pour l'année: <asp:Label ID="lblanneedeb" runat="server" CssClass="style7"></asp:Label>/<asp:Label 
            ID="lblanneefin" runat="server" CssClass="style7"></asp:Label></h1></center>
 

<table>

<tr>
<td valign="top" >
<h3>LISTE CANDIDATS POUR PASSER LE TEST TOIEC ET PREPARATION TOIEC</h3>

<asp:GridView runat="server" ID="Gridcommun" AutoGenerateColumns="False" 
                                                       HeaderStyle-CssClass="FixedHeader" HeaderStyle-BackColor="YellowGreen" 
 AlternatingRowStyle-BackColor="WhiteSmoke" 
OnRowDataBound="gvDistricts_RowDataBound" 
                                                         Style="border-bottom: white 2px ridge; border-left: white 2px ridge;
                                                        background-color: white; border-top: white 2px ridge; border-right: white 2px ridge;"
                                                        BorderWidth="0px" BorderColor="Red" CellSpacing="1" CellPadding="3" CssClass="grid"
                                                        RowStyle-CssClass="ItemStyle"  
                                                        GridLines="Both" EmptyDataRowStyle-CssClass="ItemStyle"  DataKeyNames="id_et" BackColor="#0099CC"
                                                     OnPageIndexChanging="gridViewcommun_PageIndexChanging" 
                                                       >
                                                        <EmptyDataTemplate>
                                                            Pas d'enregistrement.
                                                        </EmptyDataTemplate>
                                                        
                                                        <HeaderStyle HorizontalAlign="Center" Height="20px" Width="100px" BackColor="Red" />
                                                        <RowStyle HorizontalAlign="Center" CssClass="ItemStyle"></RowStyle>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <EmptyDataRowStyle CssClass="ItemStyle"></EmptyDataRowStyle>
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <Columns>
         <asp:BoundField DataField="id_et" HeaderText="Identifiant" ReadOnly="True" 
                SortExpression="id_et" /> 
                     
              <asp:BoundField DataField="NOM_ET" HeaderText="NOM" ReadOnly="True" 
                SortExpression="NOM_ET" />     
                  <asp:BoundField DataField="PNOM_ET" HeaderText="Prenom" ReadOnly="True" 
                SortExpression="PNOM_ET" />    
                
                  <asp:BoundField DataField="CODE_CL" HeaderText="Classe" ReadOnly="True" 
                SortExpression="CODE_CL" />         


                     </Columns>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000"  />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        
                                                    </asp:GridView>
                                                    <br />
                                                    <center>
 <asp:Button  ID="Btntoiec" runat="server" 
         Text="Exporter en excel" 
Height="50px" ForeColor="Black" BackColor="#CCCCCC" onclick="Btntoiec_Click" CssClass="text-info" />
 </center>
 
 <br />
 <br />
 <center>
<h3 class="style2">Cliquez sur le bouton bour afficher le nombre des condidats qui vont passer le test TOEIC ET PREPTOEIC</h3>
<asp:Button  ID="btnres" runat="server" 
        Text="Afficher le nombre" onclick="btnres_Click"
Height="50px" ForeColor="Black" BackColor="#CCCCCC" CssClass="text-info"/>
</center>
<br />
<br />
<center>
<table>
<tr><td><asp:Label ID="lblcountfr" runat="server" 
        Text="Le nombre des condidats qui vont passer la certification TOEIC (toeic) et prep toeic:" 
        CssClass="style1"></asp:Label></td><td>
        <asp:Label  ID="lblnbtoiec"  

            runat="server" CssClass="style1" BackColor="#66FFCC" Height="50px" 
            Width="50px" ></asp:Label></td></tr>
<tr><td></td><td></td></tr>

    
</table>

</center>
<br />
<br />
 
 <center>

<asp:HyperLink ID="HyperLink1" NavigateUrl="~/EnseignantsCUP/Afficher_list_toiecETprep.aspx" Text="Retour à la première page" runat="server" ForeColor="#0033CC" > </asp:HyperLink>
</center>

</center>


</asp:Content>
