﻿body{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
}
#demo_topbar{
    padding: 0px;
    margin: 0px;
    height: 100px;
    background-color:#CCCCCC;
    border-bottom:2px solid #333333;
}
#demo_topbar div{
    float: left;
    margin-left: 15px;
    padding-top: 6px;
}
#demo_topbar div a{
    height: 26px;
    line-height: 26px;
    float: left;
    margin-left: 10px;
}
#title_bar {
    font-size: 15px;
    font-family:georgia,serif;
    font-weight: bold;
    width:300px;
    margin-right: 20px;
}
#demo_gohome a{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: #666 solid 1px;
    text-align: center;
    color: #000;
    width: 80px;
    background-color: #f5f5f5;
    display: block;
    background-position:  3px center;
    background-repeat: no-repeat;
}
#demo_good{
  border: 2px solid #333333;
  padding: 10px 5px 5px 5px;
}
#demo_good .small_close{
  display: block;
  padding: 20px;
  text-align: right;
}