﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GetMap_xx.aspx.cs" 
Inherits="ESPOnline.Administration.Examen.GetMap_xx"MasterPageFile="~/Administration/Examen/Exam.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <%--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<%--<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
     <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=geidmapx.ClientID %>').Scrollable({
            ScrollHeight: 300,
         
        });
    });
    </script>--%>


    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <%--<link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />--%>
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          .style3
        {
            color: #000000;
        }
        .style4
        {
            color: #CC0000;
        }
        .style5
        {
            color: #0066FF;
        }
        .style6
        {
            color: #0000FF;
        }

      
          .style7
        {
            color: #FF0000;
        }

      
          .style8
        {
            color: #003300;
        }

      .grid td, .grid th{
  text-align:center;
          </style>

           
    <style type="text/css">
     lblanneedeb.Size = new Size(24, 72);
                lblanneedeb.Font = new Font("Verdana", 12);
    </style>


    <style type="text/css"> 
.styled-button-10 {
	background:#ff0000;
	background:-moz-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-weNeue',sans-serif;
	font-size:16px;bkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0000),color-stop(100%,#ff0000)): "Helvetica 
	border-radius:5px";
	background:-webkit-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-o-linear-gradient(top,#f65c6c 0%,#ff0000 100%);
	background:-ms-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:#ff0000;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica ';
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #a70f1f
}
</style>



<script language="javascript" type="text/javascript">
    function MakeStaticHeader(gridId, height, width, headerHeight, isFooter) {
        var tbl = document.getElementById(gridId);
        if (tbl) {
            var DivHR = document.getElementById('DivHeaderRow');
            var DivMC = document.getElementById('DivMainContent');
            var DivFR = document.getElementById('DivFooterRow');

            //*** Set divheaderRow Properties ****
            DivHR.style.height = headerHeight + 'px';
            DivHR.style.width = (parseInt(width) - 16) + 'px';
            DivHR.style.position = 'relative';
            DivHR.style.top = '0px';
            DivHR.style.zIndex = '10';
            DivHR.style.verticalAlign = 'top';

            //*** Set divMainContent Properties ****
            DivMC.style.width = width + 'px';
            DivMC.style.height = height + 'px';
            DivMC.style.position = 'relative';
            DivMC.style.top = -headerHeight + 'px';
            DivMC.style.zIndex = '1';

            //*** Set divFooterRow Properties ****
            DivFR.style.width = (parseInt(width) - 16) + 'px';
            DivFR.style.position = 'relative';
            DivFR.style.top = -headerHeight + 'px';
            DivFR.style.verticalAlign = 'top';
            DivFR.style.paddingtop = '2px';

            if (isFooter) {
                var tblfr = tbl.cloneNode(true);
                tblfr.removeChild(tblfr.getElementsByTagName('tbody')[0]);
                var tblBody = document.createElement('tbody');
                tblfr.style.width = '100%';
                tblfr.cellSpacing = "0";
                tblfr.border = "0px";
                tblfr.rules = "none";
                //*****In the case of Footer Row *******
                tblBody.appendChild(tbl.rows[tbl.rows.length - 1]);
                tblfr.appendChild(tblBody);
                DivFR.appendChild(tblfr);
            }
            //****Copy Header in divHeaderRow****
            DivHR.appendChild(tbl.cloneNode(true));
        }
    }



    function OnScrollDiv(Scrollablediv) {
        document.getElementById('DivHeaderRow').scrollLeft = Scrollablediv.scrollLeft;
        document.getElementById('DivFooterRow').scrollLeft = Scrollablediv.scrollLeft;
    }


</script>

     <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
    rel="stylesheet" type="text/css" />
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <center>
<h2 class="old" style="font-family: Calibri; color: #CC0000;">Géneration automatique du calendrier des examens MAPX</h2>
</center>
<asp:Label ID="lblname" runat="server" Visible="false">

</asp:Label>
    <center>
<asp:Panel ID="plvalider" runat="server" Visible="false">
    <center>
<table>
<tr>
<td>
<asp:Label ID="Label11" runat="server" CssClass="style5" Text="Semestre: "
                            ></asp:Label></td>

                                                     
   <td>          <asp:RadioButtonList ID="Rdsemestre" runat="server"   
            RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">S1</asp:ListItem>
                 <asp:ListItem Value="2">S2</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

 





<td>
<asp:Label ID="Label6" CssClass="style5" runat="server" Text="Periode: "
       ></asp:Label></td>

<td><asp:RadioButtonList ID="rdperiode" runat="server"   
             RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">P1</asp:ListItem>
                 <asp:ListItem Value="2">P2</asp:ListItem>               
            </asp:RadioButtonList></td>
            <td><asp:Button  ID="btnvalid" runat="server" Text="Valider" Height="35px" 
                    Width="120px" onclick="btnvalid_Click"/></td>
</tr>
</table>
</center>
 
        </asp:Panel>
        </center>
<br />
<asp:Panel ID="Plchoixannee" runat="server" Visible="false">
<table><tr><td><asp:Label ID="Label7" runat="server" Text="Veuillez choisir l'année auquel vous avez faire l'affectation: "
                            ></asp:Label>
</td>
<td> <asp:RadioButtonList ID="Rdcours" runat="server"   
            RepeatDirection="Horizontal" width="180px" >
            <asp:ListItem Selected="True" value="C">Année en cours</asp:ListItem>
                 <asp:ListItem value="A">Autre</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

              <td><asp:Button  ID="Btnsuivant" runat="server" Text="Suivant" Height="35px" 
                    Width="120px" onclick="Btnsuivant_Click" /></td>
</tr></table>
</asp:Panel>
<br />
<asp:Panel ID="plannee" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="lbls" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="lblp" runat="server"/></td></tr>
<tr><td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="ddlan_univer" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true"  onselectedindexchanged="ddlan_univer_SelectedIndexChanged"
         CssClass="style3">

</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="ddlsite" runat="server" 
          Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3"    >

</asp:DropDownList>

</td>





</tr>
</table>
</asp:Panel>

<br />

<asp:Panel ID="Plannee2" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="Label8" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="Label9" runat="server"/></td></tr>


<tr>

<%--<td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="DropDownList1" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">
<asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>--%>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="DropDownList2" runat="server"  AppendDataBoundItems="true" 
          Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3" 
           >
    <asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>

</td>

<td>
<asp:Panel ID="plgenerate"  runat="server">

<asp:Button runat="server" ID="btngenerate" Text="Generer Map Examen" 
        onclick="btngenerate_Click" />
</asp:Panel>

</td>
</tr>
</table>
</asp:Panel>
<br />


<br />

<asp:Panel ID="plmap" runat="server">

<center>
<table>
<tr>
<td>
<asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
  


  <div id="DivRoot" align="center">
    <div style="overflow: hidden;" id="DivHeaderRow">
    </div>
    <div style="overflow:scroll;" onscroll="OnScrollDiv(this)" id="DivMainContent">
       
        <asp:GridView ID="geidmapx"  runat="server"
                                                     HeaderStyle-BackColor="#e32218" 
                                                     AlternatingRowStyle-BackColor="#8d8e9c" 
                                                     BackColor="#dbdbdb"
                                                   GridLines  ="Both"   
                                                    Font-Names = "Arial" 
                                                   CellPadding="5"
                                                    ShowHeader = "true" 
                                                    Font-Size = "11pt">
                                                      <AlternatingRowStyle BackColor="#8D8E9C" />
                                                      <HeaderStyle  CssClass="GridViewHeaderStyle" BackColor="#CC0000" ForeColor="White" />
                                                     </asp:GridView>
                                                    
     
      

   
    </div>

   <%-- <div id="DivFooterRow" style="overflow:hidden">--%>
    </div>




</ContentTemplate>
<Triggers>
        <asp:AsyncPostBackTrigger ControlID = "geidmapx" /> 
    </Triggers> 

    </asp:UpdatePanel>
    
</td>
</tr>
<tr><td><br />
    <asp:Button ID="enreg" runat="server" Visible="false" Height="35px" onclick="onclickenreg" Text="Enregistrer" Width="120px" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btnSupprimer" runat="server" Visible="false" Height="35px" onclick="btnSUPPRIMER" Text="Supprimer" Width="120px" />
    
    <br /></td></tr>


<%--<tr><td><td align="center"><asp:Button ID="btnUpdate" runat="server" 
Text="Modifier" OnClick = "Update" Visible="false" height="44px"/></td>
--%>

<%--<tr>
<td>

    
        
  
<center>
                                                   <h3>Generation automatique de Map_X</h3>
                                                    <asp:GridView ID="GridView1"  runat="server"
                                                     HeaderStyle-BackColor="#e32218" 
                                                     AlternatingRowStyle-BackColor="#8d8e9c" 
                                                     BackColor="#dbdbdb"
                                                    
                                                    Font-Names = "Arial" ShowHeader = "true" 
                                                    Font-Size = "11pt"
                                                     ></asp:GridView> 
                                                    </center>



    
</td>
</tr>--%>


</table>

</center>
</asp:Panel>

<asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label2" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label3" runat="server" Text="Label" Visible="false"></asp:Label>
 <asp:Label ID="Label4" runat="server" Text="Label" Visible="false"></asp:Label>

<asp:Label ID="Label5" runat="server" Text="Label" Visible="false"></asp:Label>
</asp:Content>

