﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="program_module_MAJ.aspx.cs"
 Inherits="ESPOnline.Administration.Examen.program_module_MAJ"
 MasterPageFile="~/Administration/Examen/Exam.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../Contents/jquery.js" type="text/javascript"></script>
    <link href="../Contents/Css/datetimepicker.css" rel="stylesheet" type="text/css" />
   <%-- <link href="../Contents/animate.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Contents/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />--%>
    <script src="../Contents/bootstrap.js" type="text/javascript"></script>
    <script src="../Contents/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../Contents/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style type="text/css">
         .footer td
        {
            border: none;
        }
   .table     td {
border-bottom: 1pt solid black;
}     
  .footer      tr {
border-bottom: 1pt solid black;
}
        .footer th
        {
            border: none;
        }
    </style>

    <style type="text/css">
      
      table.grid tbody tr:hover {background-color:#e5ecf9;}
.GridHeaderStyle{color:#FEF7F7;background-color: #877d7d;font-weight: bold;}
.GridItemStyle{background-color:#eeeeee;color: white;}
.GridAlternatingStyle{background-color:#dddddd;color: black;}
.GridSelectedStyle{background-color:#d6e6f6;color: black;}


.GridStyle
{
	border-bottom: white 2px ridge; 
	border-left: white 2px ridge; 
	background-color: white; 
	width: 100%; 
	border-top: white 2px ridge; 
	border-right: white 2px ridge; 
}
.ItemStyle {
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}

.ItemStyle td{
	BACKGROUND-COLOR: #eeeeee; 
	COLOR: black;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 3px;
	height: 25px
}
.FixedHeaderStyle {
	BACKGROUND-COLOR:  #7591b1; 
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	position:relative ;   
	top:expression(this.offsetParent.scrollTop);  
	z-index: 10;  
}
.Caption_1_Customer
{
	background-color:#beccda;
	color: #000000;
	width: 30%;
	height: 20px;
}

      
          .style3
        {
            color: #000000;
        }
        .style5
        {
            color: #0066FF;
        }
        .style6
        {
            color: #0000FF;
        }

      
          .style7
        {
            color: #660066;
        }

      
          </style>

           <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%--  <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>--%>
<script src="../Contents/Scripts/ScrollableGridPlugin_ASP.NetAJAX_2.0.js" type="text/javascript"></script>
    <%-- <script type="text/javascript">
    $(document).ready(function () {
        $('#<%=Gridtoiec.ClientID %>').Scrollable({
            ScrollHeight: 300,
         
        });
    });
    </script>--%>



   <%-- <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#<%=Gridexam.ClientID %> input:checkbox").each(
        function () {

            this.onclick = function () {
                if (this.checked)
                    this.parentNode.parentNode.style.backgroundColor = '#00BFFF';
                else
                    this.parentNode.parentNode.style.backgroundColor = 'transparent';

            }

        })
        });
    </script>--%>

     <style type="text/css">
     lblanneedeb.Size = new Size(24, 72);
                lblanneedeb.Font = new Font("Verdana", 12);
    </style>


    <style type="text/css"> 
.styled-button-10 {
	background:#ff0000;
	background:-moz-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-weNeue',sans-serif;
	font-size:16px;bkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0000),color-stop(100%,#ff0000)): "Helvetica 
	border-radius:5px";
	background:-webkit-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:-o-linear-gradient(top,#f65c6c 0%,#ff0000 100%);
	background:-ms-linear-gradient(top,#ff0000 0%,#ff0000 100%);
	background:#ff0000;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica 
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #a70f1f
}
        .style8
        {
            color: #006600;
        }
        .style9
        {
            color: #FF0000;
        }
    </style>

     <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
    rel="stylesheet" type="text/css" />
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
<asp:Panel runat="server" ID="pll" BackColor="#E0E0E0">
    <br />
       
<center>

<h2 class="style8" style="font-family: Calibri; color: #000000;">ANNEE UNIVERSITAIRE: &nbsp;&nbsp;
<asp:Label runat="server" ID="lblanneedeb" Font-Size="Large"></asp:Label></h2>
<%--<asp:Label runat="server" ID="lblanneefin"></asp:Label>--%>

<br />

<h2 class="style9" style="font-family: Calibri; color: #CC0000">Modification des modules par pôle:TIC/GCEM</h2>

<br class="style3" />


<asp:Panel ID="plvalider" runat="server">
<table>
<tr>
<td>
<asp:Label ID="Label11" runat="server" CssClass="style5" Text="Semestre: "
                            ></asp:Label></td>

                                                     
   <td>          <asp:RadioButtonList ID="Rdsemestre" runat="server"   
            RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">S1</asp:ListItem>
                 <asp:ListItem Value="2">S2</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

 





<td>
<asp:Label ID="Label6" runat="server" CssClass="style5" Text="Periode: "
       ></asp:Label></td>

<td><asp:RadioButtonList ID="rdperiode" runat="server"   
             RepeatDirection="Horizontal" width="120px" >
            <asp:ListItem Value="1">P1</asp:ListItem>
                 <asp:ListItem Value="2">P2</asp:ListItem>               
            </asp:RadioButtonList></td>
            <td><asp:Button  ID="btnvalid" runat="server" Text="Valider" Height="35px" 
                    Width="120px" onclick="btnvalid_Click"/></td>
</tr>
</table>
</asp:Panel>

<asp:Panel ID="Plchoixannee" runat="server" Visible="false">
<table><tr><td><asp:Label ID="Label7" runat="server" Text="Veuillez choisir l'année auquel vous avez faire l'affectation: "
                            ></asp:Label>
</td>
<td> <asp:RadioButtonList ID="Rdcours" runat="server"   
            RepeatDirection="Horizontal" width="180px" >
            <asp:ListItem Selected="True" value="C">Année en cours</asp:ListItem>
                 <asp:ListItem value="A">Autre</asp:ListItem>
              
                
            </asp:RadioButtonList></td>

              <td><asp:Button  ID="Btnsuivant" runat="server" Text="Suivant" Height="35px" 
                    Width="120px" onclick="Btnsuivant_Click" /></td>
</tr></table>

                                                     
           

</asp:Panel>


<asp:Panel ID="plannee" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="lbls" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="lblp" runat="server"/></td></tr>
<tr><td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="ddlan_univer" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">

</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="ddlsite" runat="server" 
        onselectedindexchanged="ddlsite_SelectedIndexChanged" Width="150px"
   Height="30px"
    AutoPostBack="true" CssClass="style3"    >

</asp:DropDownList>

</td>

<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </span><span class="style6">
<td>
    <span class="style5">Niveau:</span>
<asp:DropDownList ID="ddlniv" runat="server"  Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddlniv_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>
<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>


<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
    <span class="style5">Classe:</span>
</span>
<asp:DropDownList ID="ddclasse" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" onselectedindexchanged="ddclasse_SelectedIndexChanged" 
        CssClass="style3">

</asp:DropDownList>
</td>

</tr>



</table>

    </span>

</asp:Panel>

<asp:Panel ID="Plannee2" runat="server" Visible="false">


<table>
<tr><td><span class="style7">SEMESTRE</span>:&nbsp;<asp:Label ID="Label8" runat="server"></asp:Label>&nbsp;&nbsp;
    <span class="style7">PERIODE:</span>&nbsp;<asp:Label ID="Label9" runat="server"/></td></tr>


<tr>

<%--<td>
    <span class="style5">Année Universitaire:
</span>
<asp:DropDownList ID="DropDownList1" runat="server" AppendDataBoundItems="true"  Width="150px"
   Height="30px"     AutoPostBack="true" 
        onselectedindexchanged="ddlan_univer_SelectedIndexChanged" CssClass="style3">
<asp:ListItem>Veuillez choisir
</asp:ListItem>
</asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
</td>--%>


<td>
    <span class="style5">Site:</span><span class="style3"> </span>
<asp:DropDownList ID="DropDownList2" runat="server" AppendDataBoundItems="true" Width="150px"
                                Height="30px" AutoPostBack="true" CssClass="style3" OnSelectedIndexChanged="DropDownList2_SelectedIndexChanged">
                                
                                <asp:ListItem>Veuillez choisir</asp:ListItem>
                                <asp:ListItem Value="1">Charguia</asp:ListItem>
                                <asp:ListItem Value="2">Ghazala</asp:ListItem>
                                 <asp:ListItem Value="ALL">ALL</asp:ListItem>
                            </asp:DropDownList>

</td>

<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </span><span class="style6">
<td>
    <span class="style5">Niveau:</span>
<asp:DropDownList ID="DropDownList3" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" 
        CssClass="style3"  DataTextField="code_cl" DataValueField="code_cl"
        onselectedindexchanged="DropDownList3_SelectedIndexChanged">

</asp:DropDownList>
</td>
<td><span class="style3">&nbsp;&nbsp;&nbsp;&nbsp;</td>


<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
    <span class="style5">Classe:</span>
</span>
<asp:DropDownList ID="DropDownList4" runat="server" Width="150px"
   Height="30px"
        AutoPostBack="true" 
        CssClass="style3" 
        onselectedindexchanged="DropDownList4_SelectedIndexChanged">

</asp:DropDownList>
</td>

</tr>



</table>

    </span>

</asp:Panel>


</center>
<table>

<tr><td><br /></td></tr>


<%--<tr><td><td align="center"><asp:Button ID="btnUpdate" runat="server" 
Text="Modifier" OnClick = "Update" Visible="false" height="44px"/></td>
--%>


</table>

    <br />
<center>
<table>
<tr>
<td>
<asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
  
<asp:GridView runat="server" ID="Gridexam" AutoGenerateColumns="False" 
                                                          
                                                         Style="border-bottom: black 2px ridge; border-left: black 2px ridge;
                                                        background-color: white; border-top: black 2px ridge; border-right: black 2px ridge;"
                                                        BorderWidth="0px" 
        BorderColor="Red"  CssClass="grid"
                                                        
        RowStyle-CssClass="ItemStyle" HeaderStyle-CssClass="FixedHeaderStyle" 
                                                        GridLines="Both" 
        EmptyDataRowStyle-CssClass="ItemStyle"  BackColor="#0099CC"
 OnRowEditing="EditCustomer" OnRowDataBound = "OnRowDataBoundS" 
         onselectedindexchanged="Gridexam_SelectedIndexChanged"
                                                   
                                                       >
                                                        <RowStyle CssClass="GridItemStyle" />
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <%--<FooterStyle BackColor="Red" Font-Bold="True" ForeColor="White" HorizontalAlign="Center" />
   <HeaderStyle BackColor="Red" Font-Bold="True" ForeColor="White" HorizontalAlign="Left" />--%>
                                                        <HeaderStyle CssClass="GridHeaderStyle" />
                                                        <RowStyle ForeColor="#000000" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />
                                                        <AlternatingRowStyle BackColor="#f3ddcf"  />

                                                        <AlternatingRowStyle CssClass="GridAlternatingStyle" />
                                                        <Columns>
                                                            <asp:TemplateField ItemStyle-Width="20px">
                                                                <HeaderTemplate>
                                                                    <asp:CheckBox ID="chkAll" runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChangedDDD" Visible="false" />
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <asp:CheckBox ID="CheckBox1" runat="server" AutoPostBack="true" OnCheckedChanged="OnCheckedChanged" />
                                                                </ItemTemplate>
                                                                <ItemStyle Width="20px" />
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="Classes" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="10%">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblcodecl" runat="server" Text='<% # Eval("code_cl") %>'></asp:Label>
                                                                </ItemTemplate>
                                                                <ItemStyle HorizontalAlign="Left" Width="10%" />
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="Num semestre" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="25%">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblNUMSEMSTRE" runat="server" Text='<% # Eval("Num_semestre") %>'></asp:Label>
                                                                </ItemTemplate>
                                                                <ItemStyle HorizontalAlign="Left" Width="25%" />
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="Periode " ItemStyle-HorizontalAlign="Left" ItemStyle-Width="25%">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblPERIODE" runat="server" Text='<% # Eval("Num_periode") %>'></asp:Label>
                                                                </ItemTemplate>
                                                                <ItemStyle HorizontalAlign="Left" Width="25%" />
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="code_module">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblCountry221" runat="server" Text='<%# Eval("code_module") %>'></asp:Label>
                                                                    <asp:DropDownList ID="ddlCountries221" runat="server" AppendDataBoundItems="true" AutoPostBack="true" OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" Visible="false">
                                                                    </asp:DropDownList>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="Module" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="25%">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblNUMSEmod" runat="server" Text='<% # Eval("designation") %>'></asp:Label>
                                                                </ItemTemplate>
                                                                <ItemStyle HorizontalAlign="Left" Width="25%" />
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="A_PROGRAMMER">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblCountry2" runat="server" Text='<%# Eval("A_PROGRAMMER") %>'></asp:Label>
                                                                    <asp:DropDownList ID="ddlaprogrammer" runat="server" AppendDataBoundItems="true" AutoPostBack="true" OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" Visible="false">
                                                                        <asp:ListItem Value="O">O</asp:ListItem>
                                                                        <asp:ListItem Value="N">N</asp:ListItem>
                                                                    </asp:DropDownList>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                            <asp:TemplateField HeaderText="TYPE_EXAM">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblCountry21" runat="server" Text='<%# Eval("TYPE_EXAM") %>'></asp:Label>
                                                                    <asp:DropDownList ID="ddltypeexam" runat="server" AppendDataBoundItems="true" AutoPostBack="true" OnSelectedIndexChanged="ddlDropDownList122_SelectedIndexChanged" Visible="false">
                                                                        <asp:ListItem Value="E">E</asp:ListItem>
                                                                        <asp:ListItem Value="P">P</asp:ListItem>
                                                                        <asp:ListItem Value="S">S</asp:ListItem>
                                                                    </asp:DropDownList>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                        </Columns>
                                                        <EmptyDataRowStyle CssClass="ItemStyle" />
                                                        <EmptyDataTemplate>
                                                            Pas d&#39;enregistrement.
                                                        </EmptyDataTemplate>
                                                        <FooterStyle CssClass="ItemStyle" />
                                                        <HeaderStyle BackColor="#CC0000" ForeColor="White" Height="20px" HorizontalAlign="Center" Width="100px" />
                                                        <RowStyle CssClass="ItemStyle" HorizontalAlign="Center" />
                                                        <SelectedRowStyle CssClass="GridSelectedStyle" />

                                                    </asp:GridView>

</ContentTemplate>
<Triggers>
        <asp:AsyncPostBackTrigger ControlID = "Gridexam" /> 
    </Triggers> 

    </asp:UpdatePanel>
    
</td>
</tr>
<tr><td><br /></td></tr>


<%--<tr><td><td align="center"><asp:Button ID="btnUpdate" runat="server" 
Text="Modifier" OnClick = "Update" Visible="false" height="44px"/></td>
--%>


</table>

</center>

<table>

<tr>
<td align="right">

<asp:Button ID="btnUpdate" runat="server" Text="Modifier" OnClick = "Update"  height="44px" Visible="false"/>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<%--<asp:Button ID="Button1" runat="server" Text="Modifier" OnClick = "Update" Visible="false" height="44px"/>--%>
</td>
</tr>
</table>
<br />
<br />
<br>
    </asp:Panel>
    <br />
    <asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label2" runat="server" Text="Label" Visible="false"></asp:Label>
<asp:Label ID="Label3" runat="server" Text="Label" Visible="false"></asp:Label>
 <asp:Label ID="Label4" runat="server" Text="Label" Visible="false"></asp:Label>

<asp:Label ID="Label5" runat="server" Text="Label" Visible="false"></asp:Label>


        <asp:Label ID="Label10" runat="server" Text="Label" Visible="false"></asp:Label>
        <asp:Label ID="Label12" runat="server" Text="Label" Visible="false"></asp:Label>
        <asp:Label ID="Label13" runat="server" Text="Label" Visible="false"></asp:Label>
        <asp:Label ID="Label14" runat="server" Text="Label" Visible="false"></asp:Label>
        <asp:Label ID="Label15" runat="server" Text="Label" Visible="false"></asp:Label>
        <asp:Label ID="Labelzzz" runat="server" Text="Label" Visible="false"></asp:Label>
</asp:Content>
