﻿body {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000066;
        PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
        /* deplace dans templates/default/header_footer.css
        background-color: #E6E6E6;      
        */
        TEXT-ALIGN: center;
}


/* Style des cellules a la consultation du cahier de textes - gris clair  #BBCEDE - bleu #7CAAD8  */

.lire_bordure {border: 1px #666666 solid;border-collapse:collapse;}

/* Style present dans le fichier consulter.php - Page du travail a faire */
.lire_cellule_1 /* Cellule avec petit retrait du texte a bordure grise  */
{
    padding: 4px;
	border: 1px solid #CCCCCC;
	font-size: 10px; /* Taille de la police */
	color: #000066;
	font-family: Verdana, Arial, Helvetica;
	vertical-align: top;
}


.lire_cellule_2 /* Cellule avec retrait du texte et fond gris  */
{
    background-color:#BBCEDE;
	font-size: xx-small;
	color: #000066;
	font-family: Verdana, Arial, Helvetica;
	padding-left: 20px;
	}

.lire_cellule_22 /* Cellule avec retrait du texte et fond gris  */
{
	background-color:#BBCEDE;
	font-size: xx-small;
	color: #000066;
	font-family: Verdana, Arial, Helvetica;
	padding-left: 20px;
	padding-left: 20px;
    border: 1px solid #A0A0A4;
	border-collapse:collapse;
	}	

.lire_cellule_3 { /* Cellule avec petit retrait texte 9 blanc sur image  */
	font-size: 9px;
	background: url(../images/bande_bleue.jpg) ;
	border-bottom: 1px #666666 solid;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	padding-left: 5px;
   }
   

   
.lire_cellule_4 { /* Cellule avec petit retrait du texte -texte 11 blanc sur image  */
    background: url(../images/bande_bleue.jpg) ; 
	border-bottom: 1px #666666 solid;
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
        text-indent: 10px;
        }

/* deplace dans templates/default/header_footer.css
#page {
        background-color: white;
        margin: 20px auto;
	padding: 0;
	width: 760px;
	border: 1px solid #959596;
	background: url(../images/cdt_bg.jpg) repeat-y top; border: none; 
	}
*/


HR {
	DISPLAY: none
}







.espace_enseignant {
	border: 1px solid #A0A0A4;
	background-color: #E6E6E6;
}


.Style1 {
	font-size: xx-small;
	border-color: #0F5080;
	line-height: 15px;
}

.Style2 {
	font-size: xx-small;
	color: #000066;
	}

.Style3 {
	font-size: xx-small;
	background-color: #BBCEDE;width: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

.Style33 {
	background-color: #BBCEDE;
	border-bottom-style: solid;
	border-bottom-color: #0F5080;
	border-width: 1px;
	padding: 5px;
}

.Style4 {
     border: 1px #0F5080 solid;}

.Style44 {font-size: xx-small}

.Style5 {
	font-size: xx-small;
	background-color: #BBCEDE;color: #FFFFFF;
	font-weight: bold;
	padding-left: 5px;
	}
	
.Style55{
	font-size: xx-small;
	background-color: #BBCEDE;
	color: #000066;
	padding-left: 20px;
	vertical-align: top;
	}

.Style555{
	font-size: xx-small;
	background-color: #BBCEDE;
	color: #000066;
	vertical-align: top;
	}
.Style555b{
	font-size: 12px;
	background-color: #BBCEDE;
	color: #000066;
	vertical-align: top;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CDEDED;
	}
.Style6 {
	font-size: 11px;
    background: url(../images/bande_bleue.jpg) ; 
	color: #FFFFFF;
	font-weight: bold;
	text-indent: 10px;
	border-collapse:collapse;


	}
	
.Style66 {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 0px;
	}
	
.Style666 {
	font-size: 9px;
    background: url(../images/bande_bleue.jpg) ; 
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 5px;
}
	
.Style666a {
	font-size: 9px;
	color: Black;
	padding-left: 0px;
}
	
.Style666b {
	font-size: 9px;
    background: url(../images/bande_verte.jpg) ; 
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 5px;
}
	
.vacances {
	font-size: 9px;
	color: #000066;
	font-weight: bold;
	padding-left: 5px;
	}
.Style69 {
	color: #660000;
	font-style: italic;
}

.Style699 {
	color: #660000;
}
	
.Style7 {
	font-size: xx-small;
	color: #000066;
	font-weight: bold;
	padding-left: 10px;

}


.style8 
{
	font-size: xx-small;
	border-color: #0F5080;
	line-height: 5px;
	background-color: #BBCEDE;line-height: 5px;
	padding: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	}
	
.style9 
{
	font-size: xx-small;
	border-color: #0F5080;
	line-height: normal;
	background-color: #BBCEDE;line-height: 10px;
	padding: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	}
		
.Style10 {
	font-size: xx-small;padding-left: 20px;
	padding-right: 10px;
	}

.Style11 {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
	}

.Style12 {
	font-size: xx-small;
	color: #000066;
	padding-left: 20px;
}

.Style13 { /* Bouton enregistrer de ecrire.php */
	color: #000066;
	}

.Style14 {
    font-size: xx-small;
	padding-left: 4px;
	padding-right: 4px;}

.Style144 {
    font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;}
	
.Style15 {
    font-size: 11px;
	color: #000066;
	padding-left: 5px;
	padding-right: 5px;}

.menu_deroulant {
	font-size: xx-small;
	color: #000066;
}

.erreur {
	font-size: 12px;
	color: #FF0000;
	padding-left: 20px;
	text-align: center;
}



a:link {
   text-decoration: none;
   color: #33f;
}

a:visited {
   text-decoration: none;
   color: #33f;
}

a:hover {
	text-decoration: underline;
	color: #339966;

}

a:active {
   text-decoration: underline;
}

a:focus {
   text-decoration: underline;
}


#container {
	padding:0px;
	margin:0px auto;
	border:0px;
	background-color: #FFFFFF;
	width:1004px;}

#colGauche {
	float: left;
	border: 0px solid #FFFFFF;
	width: 150px;
	padding: 0px 0px 0px;
	margin: 0px;}


.block_centre_accueil {
	float: left;
	text-align: justify;
	border: 0px;
	padding: 8px;
	margin : 0px 0px 0px;
	width: 830px;}

#haut {
	padding: 0px;
	margin: 10px 0px;
	border: 0px;
	text-align: center;
	font-size: 7pt;
	height:25px;}

#etat {
	float: left;
	border: 0px;
	padding: 8px;
	margin : 0px 0px 0px;
	z-index:1;
	visibility: visible;
	width: auto;
	border-collapse:collapse;
	vertical-align: top;}

#lien_progression {cursor:pointer;}
#lien_cahiers {cursor:pointer;}
#lien_planning {cursor:pointer;}
#voir_msg {cursor:pointer;}

 
#container2 {
	position: absolute;
	width: 900px;
	margin-top: 5px;
	margin-left: -450px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	left: 50%;
 }

#container3 {
	position: absolute;
	padding: 15px;
	left: 50%;
	margin-left: -300px;
    width: 600px;
	margin-top: 5px;
	background-color: #FFFFFF;
 }
 
/*#colGauche {
	float: right;
	border-width: 0px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 150px;
	padding: 5px;
	position: absolute;
	top: 40px;
	margin: 0px;
	left: 0px;
 }


.block_centre_accueil {
	border: 1px solid #0F5080;
	border-collapse:collapse;
	text-align: justify;
	border: 0px solid;
	padding: 0px;
	position: absolute;
	top: 5px;
	left: 165px;
	width: 825px;
}

#haut {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-size: 7pt;
	position: absolute;
	top: 0px;
	left: 10px;
 }*/



#haut .texte { 
   padding: 1px 3px 1px 3px;
 }

.menu_detail {
	font-size: 11px;
	background-color: #FFFFFF;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-indent: 10px;
	padding-right: 5px;


}	

.tab_detail {
	font-size: 11px;
	background-color: #FFFFFF;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}

.tab_detail_orange {
	font-size: 11px;
	background-color: #FE9001;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}

.tab_detail_rose {
	font-size: 11px;
	background-color: #FF9999;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}

.tab_detail_gris {
	font-size: 11px;
	background-color: #DFDFDF;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}	
	
.tab_detail_gris_clair {
	font-size: 10px;
	background-color: #DFDFDF;
	color: #000066;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 1px;
	text-align: left;
	vertical-align: top;
	}	
		
.tab_detail_gris_fonce {
	font-size: 10px;
	background-color: #D7D7D7;
	color: #000066 ;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 1px;
	text-align: left;
	vertical-align: top;
	}	

.tab_detail_bleu {
	font-size: 10px;
    background-color:#BBCEDE;
	color: #000066 ;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}	
                
.bordure  {
        border: 1px solid #0F5080;
        border-collapse:collapse;
 }
 
.bas_ligne {
	border-bottom-style: solid;
	border-bottom-color: #0F5080;
	border-width: 1px;
	padding: 5px;
}



#bloc_calendrier{
	position: absolute;
	left: 0px;
	top: 0px;
}
#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{

	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}


#calendarDiv .selectBox{
	border:1px solid #E2EBED;
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
		background: url(../images/bande_bleue.jpg) ;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #FF0;
	background: url(../images/bande_bleue.jpg) 
}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}

#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}

#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;
}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;
	padding:1px;
	margin:1px;
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}

#nextcours1 {
	position:absolute;
	float:left;	
	float:left;
	visibility: hidden;
     left: 50%; 
     margin-left: -120px;
     border: 1px solid #0F5080;
	 z-index:9;
}

#nextcours2 {
	position:absolute;
	float:left;	
	float:left;
	visibility: hidden;
     left: 50%; 
     margin-left: -120px;
     border: 1px solid #0F5080;
	 z-index:9;
}

#nextcours3 {
	position:absolute;
	float:left;	
	float:left;
	visibility: hidden;
     left: 50%; 
     margin-left: -120px;
     border: 1px solid #0F5080;
	 z-index:9;
}

.tab_nextcours {
	font-size: 11px;
	background-color: #FFFFFF;
	color: #000066;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	}



#visa { position:fixed; right:180px; top:440px;


  /* et le patch pour IE */ 
  position : expression("absolute"); 
  width : expression("100%"); 
  top : expression(document.body.scrollTop + this.offsetHeight - this.offsetHeight+450); 
  left : expression("300px") }

#info {
	font-size: 10px;
	padding-left: 100px;
	padding-right: 5px;
	text-align: left;
}

/* Style du panneau styles perso de l'editeur xinha */ 
.panel {
  font: 11px Arial,Helvetica,sans-serif !IMPORTANT;
}
.panel a {
  color:#444;
  border-bottom: 1px dotted #bbb;
}
.panel a:hover {
  background-color: #eee;
}

.auteur a {
   text-decoration: none;
   color: #B4B4B4;
   font-weight: bold;
   font-size: 8pt;
}

.date_message {color: #999999;font-size: 9px;}

#nextcours1 {          
     position:absolute;
     float:left;
	 /*margin-left:-150px;*/
     visibility: hidden;
     /*left: 484px;*/
     border: 1px solid #0F5080;
     z-index:9;
}

.cell_vacances{ 
border: 1px solid #0F5080; background: #F8CE70; 	color: #000066; }

#search {
border: 1px solid #A0A0A4;background-color: #E6E6E6;font-size: 12px;color: #000066;font-style: italic ;width:150;;margin:0;padding: 0;}